@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); /* 웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap'); /* 웹폰트*/
 

/*스타일 초기화 S*/
* {
    color: #000;
    box-sizing: border-box; /* 경계선을 기준으로 너비 높이 지정*/
    outline: none; /* input: 커서 시 깜빡깜빡하고 칸이 검정으로 굵게되는 효과 제거*/
    font-family: "Noto Sans KR, sans-serif";
}

html {
    font-size: 13px; /*13px = 1rem*/
    background: #f8f8f8; /*배경색 회색*/
}

body {
    margin: 0 auto; /*body태그에 기본적으로 적용되는 상하여백제거, 좌우 가운데*/
    max-width: 720px; /*최대 너비*/
    min-width: 360px; /*최소 너비*/
    background: #fff;
}

ul,ol, dl, dt, dd { 
    margin: 0;
    padding: 0;  /*들여쓰기 및 여백제거*/
}

ul, ol {
    list-style: none; /*도트 모양 제거*/
}

a {
    text-decoration: none; /*링크 연결 시 밑줄, 파란글씨 처리된는 것 제거*/
}

img {
    border: 0;
} /*이미지 경계선 제거*/
/*스타일 초기화 E*/

/* 공통 스타일 S */
.montserrat {
    font-family: "Montserrat", sans-serif;
} /* 기본폰트 노토산스인데 몬트세랏폰트가 필요할 때 쓰는 용*/

h3{
    font-size: 1.538rem;
    color: #212121;
    text-align: center;
    line-height: 1;
    padding: 20px;

}
/* 공통 스타일 E */

/* 헤더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between; /* 좌우 여백 가운데*/
    align-items: center; /* 상하 가운데*/
    height: 66px; /* 높이*/
    border-bottom: 1px solid #e6e6e6; /* 로고와 회원로그인 사이 경계선*/
    padding: 18px 15px 13px; /*이모티콘이 너무 끝에 붙어있으니 여백을 줘서 여유감을 주기*/
}

header .logo img {
    height: 34px; /*너비는 높이에따라 알아서 비율 조정될거*/
}

header .site-top i {
    font-size: 2rem; /* xeicon은 너비높이가 아닌 font-size로 크기조정*/
}

header .site-top .left i {
    margin-right: 10px; /* xeicon 사이 간격 띄우기*/
}

header .site-top .right i {
    margin-left: 10px; /* xeicon 사이 간격 띄우기*/
}

header .site-top2 {
    align-items: center; /* 상하 가운데*/
    height: 50px; /* 높이*/
    border-bottom: 1px solid #e6e6e6; /* 로고와 회원로그인 사이 경계선*/
    padding: 18px 15px 13px; /*이모티콘이 너무 끝에 붙어있으니 여백을 줘서 여유감을 주기*/
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* 헤더 영역 E */

/* 회원로그인 영역 S */
.login {
    padding: 30px 15px 40px;
    background: #ffffff;
    border-bottom: 1px solid #dfe1e5;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    margin: 0;
}

.login fieldset legend {
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 19px;
}

main .login #id {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 45px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 3px;
}

main .login #pw {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 45px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 3px;
}

main .login #chk1 {
   
    width: 23px;
    height: 23px;
    margin: -3px 5px 0 0;
    vertical-align: middle;
    
}

main .login #chk2 {
  
    width: 23px;
    height: 23px;
    margin: -3px 5px 0 0;
    vertical-align: middle;
}

main .login #submit {
    width: 100%;
    display: block;
    height: 45px;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    background-color: #8769f0;
    border-radius: 3px;
    text-align: center;
}

main .links {
    display: flex;
}

main .links a {
    width: 0;
    flex-grow: 1;
}
/* 회원로그인 영역 E */


/* sns간편 로그인 영역 S */
/* sns간편 로그인 영역 E */

/* 비회원 주문조회 영역 S */
main .order legend {
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    line-height: 1;
}

main .order #orderId {
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    height: 45px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 13px;
}

main .order #orderNb {
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    height: 45px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 13px;
}

main .order #ordersearch {
    width: 100%;
    display: block;
    height: 45px;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    background-color: #8769f0;
    border-radius: 3px;
    text-align: center;
}
/* 비회원 주문조회 영역 E */

/* 푸터 영역 S */
footer {
    background: #abdbda;
    padding: 25px 0 80px;
    margin-top: 25px;
}

footer .logo img {
    width: 79px;
    margin: 0 auto 12px;
    display: block; /* auto 속성 적용해서 가운데 오게끔 하기 위해*/
}
footer .center-phone {
    border: 2px solid #2a2a2a;
    border-radius: 20px;
    height: 35px;
    line-height: 31px;
    width: 190px;
    display: block;
    margin: 0 auto 7px;
    font-size: 1.538rem;
    font-weight: 800;
    text-align: center;
}

footer .center-phone img {
    height: 16px;
    vertical-align: middle;
}

footer .bank-info {
    font-size: 0.923rem;
    color: #2a2a2a;
    text-align: center;
}

footer .bank-info span {
    font-size: 1rem;
    font-weight: 600;
}

footer .company-info {
    text-align: center;
    
    font-size: 0.923rem;
    font-weight: 600;
    color: #878787;
}

footer .company-info img {
    width: 15px;
    vertical-align: middle;
}

footer .links a {
    text-align: center;
    font-size: 0.846 rem;
    padding: 0 11px;
    color: #878787;
    position: relative;
}

footer .links a:not(.last):after {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    background: #878787;
    position: absolute;
    right: 0;
    top: 4px;
}
/* 푸터영역 E */
